body {
	padding:40px;
}

.container-fluid{
	border:2px solid #ccc;
}

[id*="app-"] {
	background:#fff;
}

#app-intro, #app-login {
/*position: absolute;
top: 94px;*/
border-radius: 30px;
padding: 10px;
font-family: 'Orbitron', sans-serif;
position: relative;
top:46px;
/*width: 1100px;
left: 28px;
background-image: url("https://cdn.pixabay.com/photo/2016/12/30/17/35/background-1941102_960_720.jpg");*/
background:rgba(255,255,255,.4);
border:8px solid plum;
}
/*Adding in a simple modal window ... there's some js that's adding classes to the body*/

/*by default it's off*/

#intro-h2{


    font-family: 'Orbitron', sans-serif;
    font-size: 17px;
    opacity: .6;
    position: relative;
    top:2px;
    visibility: hidden;
    
    font-weight: 12em;
    }

.modal {
  position:fixed;
  z-index:-1;
  opacity:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:all .2s cubic-bezier(0.46,-0.34, 0.54, 1.3);
  background:rgba(0,0,0,.5);
  padding:30px;
  margin:0;
  visibility: hidden;
}

.modal .inner {
  background:#fff;
  position:relative;
  padding:15px;
  margin:0;
  transform:scale(.2);
  transition:all .2s cubic-bezier(0.46,-0.34, 0.54, 1.3);
}

.modal.activate {
  opacity:1;
  z-index:3;
  visibility: visible;
	display:block;
}

.modal.activate .inner {
  transform:scale(1);
}

/*This should close the modal*/
.close {
  position:absolute;
  top:30px;
  right:30px;
  padding:5px;
  cursor: pointer;
  color:#000;
  font-size:24px;
}







/*//Kwaku*/

/*
 #app-main {
        height: 2100px;
        width: 1190px;
        padding: 0px;
        margin: 0px;
    }*/

    #gradient {
        /*width: 1455px;
        height: 2500px;
        padding: 0px;
        margin: 0px;*/
        /*opacity: .6;*/
    }

    #emotions {
        border: solid plum 8px;
        /*position: absolute;
        top: 94px;*/
        border-radius: 30px;
        padding: 10px;
        /*width: 1100px;
        left: 28px;
        background-image: url("https://cdn.pixabay.com/photo/2016/12/30/17/35/background-1941102_960_720.jpg");*/
				background:rgba(255,255,255,.4);
    }

    #page2 {
        border: solid Gray 8px;
        /* height: 1460px; */
        /* width: 1050px; */
        background-color: Beige;
        /* position: absolute; */
        /* top: 870px; */
        /* left: 65px; */
        padding: 7px;
        border-radius: 25px;
				/*JN: Dont like this but I'm done*/
				margin-top:300px;
    }

    #moodHeading {
        /* position: absolute; */
        /* left: 440px; */
        /* top: 15px; */
        /*font-family: 'Clicker Script', cursive;*/
        font-size: 27px;
    }

    #moodDiv {
        /* position: absolute; */
        /* left: 575px; */
        background-color: khaki;
        font-family: 'Amatic SC', cursive;
        font-size: 26px;
        border: solid khaki;
        border-radius: 12px;
    }

		#app-main {
			position:relative;
			background:none;
		}

    #welcome {
        color: Black;
        font-family: 'Clicker Script', cursive;
        font-size: 36px;
        opacity: .6;
        font-weight: 75;
        /*border: solid PapayaWhip 10px;
            width: 1349px;
            background-color: linen;
				*/
    }

    #diff {
        background-color: Beige;
        border: solid Beige 5px;
        border-radius: 8px;
        /* position: absolute; */
        /* top: 8px; */
        /* left: 5px; */
        /* opacity: .2; */
        color: black;
    }

    #diff:hover {
        background-color: Salmon;
        opacity: .9;
        color: white;
        border: solid SlateGray 5px;
    }

    #player {
        /* width: 840px; */
        /* height: 575px; */
        /* position: absolute; */
        /* top: 90px; */
        /* left: 73px; */
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwFR4Jk0bOhPdGtm86VpRNNe4-cmCcd2tiuUKjcUs00eQf3_Td");
        border: solid gold 6px;
        border-radius: 12px;
        padding: 35px 35px 35px 35px;
    }

    #suggestions {
        /* width: 840px; */
        /* height: 575px; */
        /* position: absolute; */
        /* top: 695px; */
        /* left: 73px; */
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE6ET0Je372pmzoyrpfqHzQov9NFmLnWxI96BG5PfbvqXbMqg");
       border-right: solid gold 6px;
        border-left: solid gold 6px;
        border-radius: 7px;
        padding: 35px 35px 35px 35px;
    }

    #playerLayer {
        /* height: 480px; */
        /* width: 750px; */
        background-color: gold;
        border-color: white;
        border: solid white 6px;
        border-radius: 10px;
        z-index: 22;
        /* position: relative; */
        /* top: 47px; */
        /* left: 39px; */
        font-family: 'Clicker Script', cursive;
        font-size: 23px;
        padding:5px 25px 35px 25px;
    }


    #widget-container {/* position: absolute; *//* left: 9px; */border: solid black 6px;border-radius: 7px;background-color: black;/* top:39px; */}

    #suggestionsLayer {
        /* height: 450px; */
        /* width: 750px; */
        background-color: gold;
        border: solid white 6px;
        border-color: white;
        border-radius: 10px;
        z-index: 22;
        /* position: relative; */
        /* top: 752px; */
        /* left: 110px; */
        /*font-family: 'Clicker Script', cursive;*/
        font-family: 'Clicker Script', cursive;
        font-size: 23px;
       padding:15px 40px 40px 40px;
    }

    .event-div {
    padding:15px;
    border-bottom:1px solid #333;
    }

    #artist-events > .event-div:last-child {
        border-bottom:0;
    }

    .btn {
        color: white;
    }

		/*JN: adding style to init buttons*/
		#btn-auth, #add-city {
			background-color: #99ff33;
			color:#000;
		}

        #btn-auth:hover {

            font-size: 19.2px;
        }

        #add-city{

            position:relative;
            top:8px;
        }

            #add-city:hover {

            font-size: 19.2px;

        }


        #city {
        width: 425px;
        font-size: 24px;
        color:LawnGreen;
        border: solid white 2px;
        border-radius: 6px;
    }

    input{
   text-align:center;

}



  #other-playlists {

    background-color: blue
    height: 715px;
    width:530px;
    position: absolute;
    top:715px;
    left: 1140px;
    z-index: 90px;
    border: solid black 5px;
  }

	#emotions > center > button {
		border: 5px solid PapayaWhip;
		border-radius: 8px;
		margin:4px;
	}

    .a {
        background-color: #990000;
    }

    .b {
        background-color: Green;
    }

    .c {
        background-color: Violet;
        border-color: Moccasin;
    }

    .d {
        background-color: #bfbfbf;
    }

    .e {
        background-color: LightPink;
    }

    .f {
        background-color: Indigo;
    }

    .g {
        background-color: #ffe44d;
    }

    .h {
        background-color: Maroon;
    }

    .i {
        background-color: Chocolate;
    }

    .j {
        background-color: LawnGreen;
    }

    .l {
        background-color: black;
    }

    .v {
        background-color: CadetBlue;
    }

    .z {
        background-color: MidnightBlue;
    }

#city-mood {
    padding:20px;
}