/* -------------------------------------------------------------------- LAYOUT -----*/

body,
html {
    min-height: 100%;
    height:100%;
}

body {
    /* temporary mobile-imitation stuff for desktop users*/
    max-width: 522px;
    margin: 0 auto;
    border-right: 1px solid #444;
    border-left: 1px solid #444;
    background-color: #000;
}

#main-container {
    min-height: 100%;
    background-color: #272b30;
}

#app-intro,
#app-login,
#app-main {
    margin-top: -75px;
}

#app-intro .well,
#app-login .well,
#app-main .well {
    opacity: 0.9;
    background-color: rgba(61, 65, 74, 0.6);
}

h3 {
    border-bottom: 1px solid #445055;
    padding-bottom: 10px;
    margin-bottom: 18px;
}

.well h3 {
    margin-top: 5px;
}


/* --------------------------------------------------------------------- NAVBAR ------ */

.collapse {
    height: 1px;
}

.expand {
    height: auto
}

.navbar {
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    padding: 10px 15px;
    color: #57c3f9;
    text-shadow: 0px 2px 5px #107796;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #57c3f9;
    cursor: default;
}


/* ------------------------------------------------------------------ FEELINGS ----*/

#btn-current-feeling {
    width: auto;
    height: 40px;
    display: inline-block;
    line-height: 35px;
    padding: 0 10px;
    float: right;
    margin: -10px 0 0 0;
}

.btn-feeling {
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    color: #333;
    width: 130px;
    height: 130px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}

.btn-feeling-doing {
    border-color: #80CC7A;
    background-color: #69b364;
    text-shadow: 1px -1px 1px #80CC7A;
}

.btn-feeling-positive {
    background-color: #F2B361;
    border-color: #c37d28;
}

.btn-feeling-energy {
    border-color: #f9dc45;
    background-color: #ffea73;
}

.btn-feeling-aggro {
    border-color: #FF5855;
    background-color: #F06060;
}

.btn-feeling-low {
    border-color: #3271A0;
    background-color: #5a9ccc;
}


/* ------------------------------------------------------------- MUSIC ------*/

#widget-container {
    background-color: #181818;
    border-right: 2px solid #181818;
    border-left: 2px solid #181818;
    border-top: 2px solid #181818;
}

#shifty,
#shifty-layer {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

#shifty{
	z-index:-20;
}

#shifty-layer{
	z-index:-10;
}

.shifty{
    box-shadow: inset 0 -30px 50px #272b30;
    box-shadow: inset 0 -30px 50px #272b30;

}

.shifty-neutral-1 {
    background: #585b37;
    background: -moz-linear-gradient(left, #585b37 0%, #bfbfbf 27%, #f9f4de 72%, #99978f 98%);
    background: -webkit-linear-gradient(left, #585b37 0%, #bfbfbf 27%, #f9f4de 72%, #99978f 98%);
    background: linear-gradient(to right, #585b37 0%, #bfbfbf 27%, #f9f4de 72%, #99978f 98%);
  }
  .shifty-neutral-2 {
    background: #cedce7;
    background: -moz-linear-gradient(left, #cedce7 0%, #6e896c 27%, #cedce7 76%, #b4ed93 100%);
    background: -webkit-linear-gradient(left, #cedce7 0%, #6e896c 27%, #cedce7 76%, #b4ed93 100%);
    background: linear-gradient(to right, #cedce7 0%, #6e896c 27%, #cedce7 76%, #b4ed93 100%);
  }
  .shifty-low-1 {
    background: #383972;
    background: -moz-linear-gradient(left, #383972 0%, #41544b 29%, #353535 54%, #3b488e 87%, #303b72 100%);
    background: -webkit-linear-gradient(left, #383972 0%, #41544b 29%, #353535 54%, #3b488e 87%, #303b72 100%);
    background: linear-gradient(to right, #383972 0%, #41544b 29%, #353535 54%, #3b488e 87%, #303b72 100%);
  }
  .shifty-low-2 {
    background: #3590ea;
    background: -moz-linear-gradient(left, #3590ea 0%, #3630d3 22%, #380589 33%, #3630d3 63%, #a55ef2 85%);
    background: -webkit-linear-gradient(left, #3590ea 0%, #3630d3 22%, #380589 33%, #3630d3 63%, #a55ef2 85%);
    background: linear-gradient(to right, #3590ea 0%, #3630d3 22%, #380589 33%, #3630d3 63%, #a55ef2 85%);
  }
  .shifty-doing-1 {
    background: #b1f92a;
    background: -moz-linear-gradient(left, #b1f92a 0%, #3590ea 24%, #3590ea 56%, #49edd7 89%, #c0ffad 100%);
    background: -webkit-linear-gradient(left, #b1f92a 0%, #3590ea 24%, #3590ea 56%, #49edd7 89%, #c0ffad 100%);
    background: linear-gradient(to right, #b1f92a 0%, #3590ea 24%, #3590ea 56%, #49edd7 89%, #c0ffad 100%);
  }
  .shifty-doing-2 {
    background: #519dff;
    background: -moz-linear-gradient(left, #519dff 11%, #005dff 29%, #00eb00 59%, #00d2da 73%, #0017fd 100%);
    background: -webkit-linear-gradient(left, #519dff 11%, #005dff 29%, #00eb00 59%, #00d2da 73%, #0017fd 100%);
    background: linear-gradient(to right, #519dff 11%, #005dff 29%, #00eb00 59%, #00d2da 73%, #0017fd 100%);
  }
  .shifty-positive-1 {
    background: #a6df2d;
    background: -moz-linear-gradient(left, #a6df2d 0%, #90fe1d 14%, #90fe1d 38%, #fffe65 69%, #90fe1d 82%, #90facd 100%);
    background: -webkit-linear-gradient(left, #a6df2d 0%, #90fe1d 14%, #90fe1d 38%, #fffe65 69%, #90fe1d 82%, #90facd 100%);
    background: linear-gradient(to right, #a6df2d 0%, #90fe1d 14%, #90fe1d 38%, #fffe65 69%, #90fe1d 82%, #90facd 100%);
  }
  .shifty-positive-2 {
    background: #f8ffe8;
    background: -moz-linear-gradient(left, #f8ffe8 0%, #e3f5ab 14%, #a6df2d 53%, #d4fe1d 84%);
    background: -webkit-linear-gradient(left, #f8ffe8 0%, #e3f5ab 14%, #a6df2d 53%, #d4fe1d 84%);
    background: linear-gradient(to right, #f8ffe8 0%, #e3f5ab 14%, #a6df2d 53%, #d4fe1d 84%);
  }
  .shifty-energy-1 {
    background: #ffdc00;
    background: -moz-linear-gradient(left, #ffdc00 0%, #ffff9a 25%, #ffe100 55%, #ff7f00 81%, #ffff1e 100%);
    background: -webkit-linear-gradient(left, #ffdc00 0%, #ffff9a 25%, #ffe100 55%, #ff7f00 81%, #ffff1e 100%);
    background: linear-gradient(to right, #ffdc00 0%, #ffff9a 25%, #ffe100 55%, #ff7f00 81%, #ffff1e 100%);
  }
  .shifty-energy-2 {
    background: #ffe100;
    background: -moz-linear-gradient(left, #ffe100 0%, #fff875 10%, #ff7f00 37%, #ffff1e 45%, #ffe100 74%);
    background: -webkit-linear-gradient(left, #ffe100 0%, #fff875 10%, #ff7f00 37%, #ffff1e 45%, #ffe100 74%);
    background: linear-gradient(to right, #ffe100 0%, #fff875 10%, #ff7f00 37%, #ffff1e 45%, #ffe100 74%);
  }
  .shifty-aggro-1 {
    background: #c90021;
    background: -moz-linear-gradient(left, #c90021 0%, #d87700 20%, #f2bd00 53%, #d87700 68%, #661741 84%, #c90021 100%);
    background: -webkit-linear-gradient(left, #c90021 0%, #d87700 20%, #f2bd00 53%, #d87700 68%, #661741 84%, #c90021 100%);
    background: linear-gradient(to right, #c90021 0%, #d87700 20%, #f2bd00 53%, #d87700 68%, #661741 84%, #c90021 100%);
  }
  .shifty-aggro-2 {
    background: #f24507;
    background: -moz-linear-gradient(left, #f24507 0%, #562212 19%, #f93a00 41%, #ffef7a 69%, #fb955e 80%, #ea5507 100%);
    background: -webkit-linear-gradient(left, #f24507 0%, #562212 19%, #f93a00 41%, #ffef7a 69%, #fb955e 80%, #ea5507 100%);
    background: linear-gradient(to right, #f24507 0%, #562212 19%, #f93a00 41%, #ffef7a 69%, #fb955e 80%, #ea5507 100%);
  }


/* ------------------------------------------------------------------- EVENTS -----*/

#event-div {}

.event-artist {
    font-weight: bold;
    color: #f9d44b;
    margin-right: 114px;
}

.event-venue {}

.event-date {}

#btn-auth {
    background: #34393d url(../images/spotify.png) 8px 5px / 40px 40px no-repeat;
    padding-left: 55px;
    border-color: #218344;
    border-width: 2px;
}

.btn-close,
.btn-save {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 44px;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-close {
    background-color: #2f7a8a;
    box-shadow: 0px 0px 3px 1px #0c0d0e;
    text-shadow: 0px 1px 0px #5baebf;
    color: #1c1e22;
}

.btn-save {
    background-color: #7d703f;
    box-shadow: 0px 0px 3px 1px #0c0d0e;
    text-shadow: 0px 1px 0px #cebc3c;
    margin-right: 20px;
    color: #1c1e22;
    transition: 0.5s ease-in-out;
}

.btn-save i {
    margin-left: 2px;
}

.btn-saved {
    background-color: transparent;
    color: #ffd84a;
    text-shadow: 0px 0px 4px #d6a929;
    box-shadow:none;
	transform: rotate(360deg);
}


/* ------------------------------------------------------------------ MODAL ----- */

.modal {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s cubic-bezier(0.46, -0.34, 0.54, 1.3);
    background: rgba(0, 0, 0, .5);
    padding: 30px;
    margin: 0;
    visibility: hidden;
}

.modal .inner {
    background: #484e55;
    position: relative;
    padding: 15px;
    margin: 0;
    border-radius: 6px;
    border: 2px solid #bb7f00;
    transform: scale(.2);
    transition: all .2s cubic-bezier(0.46, -0.34, 0.54, 1.3);
}

.modal.activate {
    opacity: 1;
    z-index: 3;
    visibility: visible;
    display: block;
}

.modal.activate .inner {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 5px;
    cursor: pointer;
    color: #000;
    font-size: 24px;
}
